* {
    box-sizing: border-box;
    margin: 0;
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

/* RESET CSS */
ol,
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* Entire Layout */

section {
    width: 100%;
    height: auto;
    background-color: rgba(218, 218, 218);
}

nav {
    width: 350px;
    height: 100vh;
    position: relative;
    overflow: auto;
}

/* Working Space */
.practice-image {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.practice-image img {
    display: block;
    width: 45vh;
}

/* nav-header section */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333;
    letter-spacing: -0.01em;
    height: 60px;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

/* view-selector section */

.view-selector {
    padding-left: 10px;
    cursor: pointer;
}

.view-selector:hover {
    color: rgb(153, 153, 153);
}

.view-selector-drop-menu {
    padding: 15px 10px;
}
.view-selector-drop-menu li {
    padding: 10px 0;
}

.view-selector-drop-menu h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333;
}

.view-selector-drop-menu span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3333333333;
}

/* full-screen */
.nav-header span:last-child {
    border-left: 1px solid rgb(82, 82, 82);
    padding: 10px 0 10px 15px;
    cursor: pointer;
}

/* nav-information section */
.information {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    height: 60px;
    border-bottom: 1px solid rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* contents section */
.contents {
    padding: 25px 10px;
}

/* contents description section*/
.contents-description {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
    height: 30vh;
    overflow: auto;
}

/* page-controls */
.page-control-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
}

.page-control-bar span {
    display: block;
    background-color: rgb(199, 199, 199);
    width: 100%;
    margin: 0 1px;
    height: 3px;
    border-radius: 4px;
    cursor: pointer;
}

/* current page */
.page-control-bar span:first-child {
    background-color: rgb(63, 63, 63);
}

/* control bar */

.control-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.control-bar .go-home {
    border-top: 1px solid rgb(82, 82, 82);
}

.control-bar li a {
    text-decoration: none;
    color: inherit;
}

.control-bar li {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    border-bottom: 1px solid rgb(82, 82, 82);
    width: 100%;
    cursor: pointer;
    transition: color 100ms ease-in;
}

.go-home,
.previous,
.next,
.font-resize,
.volume-control {
    padding: 15px 0;
}

li:hover {
    color: rgb(153, 153, 153);
}

.font-resize-selector:hover {
    color: inherit;
}

.font-resize-selector .small:hover,
.font-resize-selector .medium:hover,
.font-resize-selector .large:hover {
    color: rgb(153, 153, 153);
}

/* Font Size Select Section*/
.font-resize-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.small,
.medium,
.large {
    padding: 15px 25px;
}

.hidden {
    display: none;
}
