* {
    box-sizing: border-box;
    margin: 0;
}

.sr-only {
    position: absolute;
    z-index: -100;
    width: 1px;
    height: 1px;
    overflow: hidden;
    opacity: 0;
}

body {
    font-family: "Noto Sans KR", sans-serif;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.clear-fix::after {
    content: "";
    display: block;
    clear: both;
}

/* RESET CSS */
ol,
ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

button {
    font-family: "Noto Sans KR", sans-serif;
    border: none;
    outline: none;
    background-color: transparent;
}

/* Entire Layout */

.practice-section {
    width: 100%;
    height: 100vh;
}

.nav-section {
    width: 350px;
    height: 100vh;
    position: relative;
    /* background: linear-gradient(120deg, #a1b9ec, #96ce9f, #fae77e, #eeaea6); */
    background-color: #fff;
    overflow: auto;
}

/* Working Space Section */
.practice-section #working-space {
    display: none;
    width: 100%;
    height: 100%;
}

.click-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: rgb(199, 199, 199);
    overflow: auto;
}

.click-area img {
    display: block;
    position: absolute;
}

.wrong-click-area {
    width: 100%;
    height: 100%;
    z-index: 1;
}

.correct-click {
    position: absolute;
    background-color: rgba(247, 76, 76, 0.5);
    cursor: pointer;
    z-index: 2;
}

/* Nav Header Section */

.nav-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333;
    letter-spacing: -0.01em;
    height: 60px;
    padding: 15px 10px;
    border-bottom: 1px solid rgb(82, 82, 82);
}

/* view-selector Section */

.nav-header .view-selector {
    padding-left: 10px;
    transition: color 100ms ease-in-out;
    cursor: pointer;
}

.nav-header .view-selector:hover {
    color: rgb(153, 153, 153);
}

/* full-screen */
.full-screen-button {
    border-left: 1px solid rgb(82, 82, 82);
    padding: 10px 0 10px 15px;
    transition: color 100ms ease-in-out;
    cursor: pointer;
}

.full-screen-button:hover {
    color: rgb(153, 153, 153);
}

/* Drop Menu Bar */
.view-selector-drop-menu {
    padding: 15px 10px;
}

.view-selector-drop-menu li {
    padding: 10px 0;
    transition: color 100ms ease-in-out;
}

.view-selector-drop-menu h3 {
    font-size: 15px;
    font-weight: 700;
    line-height: 1.3333333333;
}

.view-selector-drop-menu span {
    font-size: 13px;
    font-weight: 400;
    line-height: 1.3333333333;
}

.view-selector-drop-menu li:hover {
    color: rgb(153, 153, 153);
    cursor: pointer;
}

/* nav Content Section */

.nav-index-contents {
    margin: 20vh 30px;
    height: 10vh;
}

.nav-index-contents .nav-contents-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.01em;
}

.nav-index-contents .fill-button {
    display: block;
    text-decoration: none;
    text-align: center;
    width: 220px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #fff;
    border-style: none;
    border-radius: 4px;
    background-color: rgb(26, 26, 26);
    cursor: pointer;
    margin-top: 7vh;
    padding: 0 auto;
    box-shadow: 3px 3px 10px rgb(85, 85, 85, 0.7);
    transition: transform 100ms ease-in;
}

.nav-index-contents .fill-button:hover {
    background-color: rgba(85, 85, 85, 0.9);
    transform: translateY(-2px);
}

.nav-index-contents .nav-contents-info {
    margin-top: 20px;
}

.nav-index-contents .nav-contents-info span {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3333333333;
    letter-spacing: 0.01em;
}

.nav-index-contents .nav-contents-info span:first-child::after {
    content: " /";
}

/* nav-main-contents Section */

.nav-main-contents .main-information {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    height: 60px;
    border-bottom: 1px solid rgb(82, 82, 82);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-main-contents .main-contents-desc {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: -0.01em;
    width: 100%;
    height: 30vh;
    overflow: auto;
    padding: 10px 0 0 20px;
}

/* page progress bar */
.page-progress-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin: 10px 0;
    padding: 0 20px;
}

/* past page progress bar */
#page-progress-bar-select {
    background-color: rgb(63, 63, 63);
}

.page-progress-bar span {
    display: block;
    background-color: rgb(199, 199, 199);
    width: 100%;
    margin: 0 1px;
    height: 3px;
    border-radius: 4px;
    cursor: pointer;
}

/* Main Conrtoller */

.main-controller {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.main-controller .go-home {
    border-top: 1px solid rgb(82, 82, 82);
}

.main-controller li {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
    text-align: center;
    border-bottom: 1px solid rgb(82, 82, 82);
    width: 100%;
    cursor: pointer;
    transition: color 100ms ease-in-out;
}

.main-controller li {
    padding: 15px 0;
}
.go-home:hover,
.previous:hover,
.next:hover,
.font-resize:hover,
.audio-control:hover {
    color: rgb(153, 153, 153);
}

/* font resize selector section */
.font-resize-selector .small:hover,
.font-resize-selector .medium:hover,
.font-resize-selector .large:hover {
    color: rgb(153, 153, 153);
}

.font-resize-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.small,
.medium,
.large {
    padding: 0 25px;
}

/* volume-control-bar section */
.audio-control-selector {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.audio-control-selector button {
    font-size: 15px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.audio-control-selector button:hover {
    color: rgb(153, 153, 153);
}

/* About JS */
.hidden {
    display: none;
}

/* click box position*/
.page-0 {
    width: 175px;
    height: 110px;
    margin-bottom: 340px;
    margin-right: 185px;
}

.page-1 {
    width: 40px;
    height: 30px;
    margin-top: 150px;
    margin-right: 50px;
}

.page-2 {
    width: 30px;
    height: 30px;
    margin-top: 380px;
}

/* About Mobile */
.mobile-icon {
    display: none;
}

/* MOBILE STYLE (0~576px) */

@media screen and (max-width: 576px) {
    .mobile-icon {
        display: block;
    }

    body {
        flex-direction: column;
    }

    /* Index */
    /* Nav Index Section */
    .nav-section {
        width: 100%;
        height: auto;
        padding: 0 10px;
    }

    /* nav header */
    .nav-header {
        border-bottom: none;
        justify-content: flex-end;
    }

    /* Full Screen button */
    .full-screen-button {
        border-left: none;
    }

    /* nav index content */
    .nav-index-contents {
        text-align: center;
    }

    .fill-button {
        margin: 0 auto;
    }

    /* Main */
    /* Practice Section */
    .practice-section {
        width: 100%;
        height: 90vh;
    }

    .click-area img {
        max-width: 270px;
        height: auto;
    }

    /* Nav Main Section */
    .nav-main-contents {
        height: 10vh;
    }

    /* Main Controller Section */
    .main-controller {
        flex-direction: row;
        margin: 0;
    }

    .main-controller .go-home {
        border-top: none;
    }

    .main-controller li {
        border-bottom: none;
    }

    /* About JS */
    .mobile-hidden {
        display: none;
    }
}
